language: node_js
sudo: false
node_js: 8
dist: trusty
addons:
    firefox: latest
    apt:
        sources:
            - google-chrome
        packages:
            - google-chrome-stable
before_install:
    - export PATH=$PWD/node_modules/.bin:$PATH
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
install:
    - npm install
script:
    - npm run build
    - npm run test
after_success:
    - test "$TRAVIS_REPO_SLUG" = "Brightspace/activity-exemptions"
      && test "$TRAVIS_BRANCH" = "master"
      && test "$TRAVIS_PULL_REQUEST" = "false"
      && test "x$TRAVIS_TAG" = "x"
      && npm run publish