.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.15);
}

.bottom-button-group {
  padding-bottom: 50px;
}

.activity-exemptions {
  color: #565a5c;
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  padding-bottom: 50px;
}

.d2l-offscreen {
  word-wrap: normal !important;
  position: absolute !important;
  left: -10000px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.exemptions-count-container {
  margin-top: 20px;
}