.clear-results-container {
	text-align: right;
	min-height: 22px;
}

[dir="rtl"] .clear-results-container {
	text-align: left;
}

.clear-results-button {
	background: none!important;
	color: inherit;
	border: none;
	padding: 0!important;
	font: inherit;
	cursor: pointer;
	color: #006fbf;
	text-decoration: underline;
}

.vui-input-search-container {
	display: block;
	float: right;
	min-height: 42px;
	margin-top: 10px;
}

.vui-input-search-button {
	min-width: 24px;
	min-height: 24px;
}

[dir="rtl"] .vui-input-search-container {
	float: left;
}

.vui-input {
	border-radius: 0.3rem;
	border-style: solid;
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	margin: 0;
	vertical-align: middle;
	width: 100%;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-property: background-color, border-color;
	color: #565a5c;
	font-family: inherit;
	font-size: 0.95rem;
	font-weight: 400;
	letter-spacing: 0.01rem;
	line-height: 1.4rem;
}

.vui-input::placeholder {
	color: #d3d9e3;
}

.vui-input,
.vui-input:hover:disabled {
	background-color: #fff;
	border-color: #d3d9e3;
	border-width: 1px;
	box-shadow: inset 0 2px 0 0 rgba(185, 194, 208, 0.2);
	padding: 0.3rem 1rem;
}

.vui-input:hover,
.vui-input:focus,
.vui-input.vui-input-focus {
	border-color: #006fbf;
	border-width: 2px;
	outline-width: 0;
	padding: calc(0.3rem - 1px) calc(1rem - 1px);
}

.vui-input[aria-invalid='true'] {
	border-color: #cd2026;
}

.vui-input:disabled {
	opacity: 0.5;
}

.vui-input::-webkit-search-cancel-button {
	display: none;
}

.vui-input::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

.vui-input-search-container {
	position: relative;
}

.vui-input-search-container input[type="text"],
.vui-input-search-container input[type="search"] {
	border-radius: 0.3rem;
	border-style: solid;
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	margin: 0;
	vertical-align: middle;
	width: 100%;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-property: background-color, border-color;
	color: #565a5c;
	font-family: inherit;
	font-size: 0.95rem;
	font-weight: 400;
	letter-spacing: 0.01rem;
	line-height: 1.4rem;
	appearance: none;
	-webkit-appearance: textfield;
}

.vui-input-search-container input[type="text"]::placeholder,
.vui-input-search-container input[type="search"]::placeholder {
	color: #d3d9e3;
}

.vui-input-search-container input[type="text"],
.vui-input-search-container input[type="text"]:hover:disabled,
.vui-input-search-container input[type="search"],
.vui-input-search-container input[type="search"]:hover:disabled {
	background-color: #fff;
	border-color: #d3d9e3;
	border-width: 1px;
	box-shadow: inset 0 2px 0 0 rgba(185, 194, 208, 0.2);
	padding: 0.3rem 1rem;
}

.vui-input-search-container input[type="text"]:hover,
.vui-input-search-container input[type="text"]:focus,
.vui-input-search-container input[type="text"].vui-input-focus,
.vui-input-search-container input[type="search"]:hover,
.vui-input-search-container input[type="search"]:focus,
.vui-input-search-container input[type="search"].vui-input-focus {
	border-color: #006fbf;
	border-width: 2px;
	outline-width: 0;
	padding: calc(0.3rem - 1px) calc(1rem - 1px);
}

.vui-input-search-container input[type="text"][aria-invalid='true'],
.vui-input-search-container input[type="search"][aria-invalid='true'] {
	border-color: #cd2026;
}

.vui-input-search-container input[type="text"]:disabled,
.vui-input-search-container input[type="search"]:disabled {
	opacity: 0.5;
}

.vui-input-search-container input[type="text"]::-webkit-search-cancel-button,
.vui-input-search-container input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

.vui-input-search-container input[type="text"]::-ms-clear,
.vui-input-search-container input[type="search"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

.vui-input-search-container input[type="text"]:focus,
.vui-input-search-container input[type="text"]:hover,
.vui-input-search-container input[type="text"].vui-input-hover,
.vui-input-search-container input[type="text"].vui-input-focus,
.vui-input-search-container input[type="search"]:focus,
.vui-input-search-container input[type="search"]:hover,
.vui-input-search-container input[type="search"].vui-input-hover,
.vui-input-search-container input[type="search"].vui-input-focus {
	padding-right: calc(2.2rem - 1px);
}

.vui-input-search-container input[type="text"],
.vui-input-search-container input[type="text"]:disabled,
.vui-input-search-container input[type="text"]:focus:disabled,
.vui-input-search-container input[type="text"]:hover:disabled,
.vui-input-search-container input[type="search"],
.vui-input-search-container input[type="search"]:disabled,
.vui-input-search-container input[type="search"]:focus:disabled,
.vui-input-search-container input[type="search"]:hover:disabled {
	padding-right: 2.2rem;
}

.vui-input-search-container input[type="text"]::-webkit-search-decoration,
.vui-input-search-container input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

[dir="rtl"] .vui-input-search-container input[type="text"]:focus,
[dir="rtl"] .vui-input-search-container input[type="text"]:hover,
[dir="rtl"] .vui-input-search-container input[type="text"].vui-input-hover,
[dir="rtl"] .vui-input-search-container input[type="text"].vui-input-focus,
[dir="rtl"] .vui-input-search-container input[type="search"]:focus,
[dir="rtl"] .vui-input-search-container input[type="search"]:hover,
[dir="rtl"] .vui-input-search-container input[type="search"].vui-input-hover,
[dir="rtl"] .vui-input-search-container input[type="search"].vui-input-focus {
	padding-left: calc(2.2rem - 1px);
	padding-right: calc(1rem - 1px);
}

[dir="rtl"] .vui-input-search-container input[type="text"],
[dir="rtl"] .vui-input-search-container input[type="text"]:disabled,
[dir="rtl"] .vui-input-search-container input[type="text"]:focus:disabled,
[dir="rtl"] .vui-input-search-container input[type="text"]:hover:disabled,
[dir="rtl"] .vui-input-search-container input[type="search"],
[dir="rtl"] .vui-input-search-container input[type="search"]:disabled,
[dir="rtl"] .vui-input-search-container input[type="search"]:focus:disabled,
[dir="rtl"] .vui-input-search-container input[type="search"]:hover:disabled {
	padding-right: 1rem;
	padding-left: 2.2rem;
}

.vui-input-search-button {
	border: none;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%2F%3E%3Cpath%20d%3D%22M10.384%2015.764l-.46.46a2.5%202.5%200%200%201-.712%202.126l-2.818%202.82a2.498%202.498%200%200%201-3.54.004%202.502%202.502%200%200%201%20.004-3.54l2.82-2.82c.58-.58%201.373-.82%202.126-.713l.46-.457a7.5%207.5%200%200%201%206.257-11.636c4.143%200%207.5%203.357%207.5%207.5a7.5%207.5%200%200%201-11.636%206.257zm4.137-.757a5.5%205.5%200%201%200%200-11%205.5%205.5%200%200%200%200%2011z%22%20fill%3D%22%23565a5c%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 1.2rem;
	margin: 0;
	opacity: 0.7;
	padding: 0;
	position: absolute;
	right: 1rem;
	text-indent: -10000px;
	top: 0.45rem;
	width: 1.2rem;
}

.vui-input-search-button,
.vui-input-search-button:focus {
	outline: none;
}

.vui-input-search-button:disabled,
.vui-input-search-button:disabled:hover {
	opacity: 0.5;
}

.vui-input-search-button:hover,
.vui-input-search-button:focus {
	opacity: 1;
}

[dir="rtl"] .vui-input-search-button {
	left: 1rem;
	right: auto;
}

.vui-input-search-clear-button {
	border: none;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%2F%3E%3Cpath%20d%3D%22M12%209.88l5.438-5.437a1.494%201.494%200%200%201%202.123-.003c.59.59.584%201.535-.003%202.123L14.12%2012l5.437%205.438a1.498%201.498%200%201%201-2.118%202.12L12%2014.12l-5.437%205.437a1.494%201.494%200%200%201-2.123.004%201.496%201.496%200%200%201%20.003-2.122L9.88%2012%204.444%206.563A1.496%201.496%200%200%201%204.44%204.44a1.495%201.495%200%200%201%202.123.003L12%209.88z%22%20fill%3D%22%23565a5c%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 1.2rem;
	margin: 0;
	opacity: 0.7;
	padding: 0;
	position: absolute;
	right: 1rem;
	text-indent: -10000px;
	top: 0.45rem;
	width: 1.2rem;
}

.vui-input-search-clear-button .vui-input-search-clear-button:focus {
	outline: none;
}

.vui-input-search-clear-button:disabled,
.vui-input-search-clear-button:disabled:hover {
	opacity: 0.5;
}

.vui-input-search-clear-button:hover,
.vui-input-search-clear-button:focus {
	opacity: 1;
}

[dir="rtl"] .vui-input-search-clear-button {
	left: 1rem;
	right: auto;
}

.vui-input-search-clear-button {
	min-width: 24px;
	min-height: 24px;
}